<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nasim.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="My App"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".MainActivity01" />
        <activity android:name=".IntentOnePageToAnother" />
        <activity android:name=".MainActivity02" />
        <activity android:name=".MainActivity03" />
        <activity android:name=".MainActivity04" />
        <activity android:name=".ActivityLifeCycle" />
        <activity android:name=".OptionMenuIntegrate" />
        <activity android:name=".BackPress" />
        <activity android:name=".Alert"></activity>
        <activity android:name=".TimePickerTest">

        </activity>
        <activity android:name=".ListViewTest">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>